@import "tailwindcss";
@plugin "daisyui";

* {
    font-family: "Passion One Regular", serif;
}

@font-face {
    font-family: 'Passion One Regular';
    src: url('/fonts/PassionOne-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Passion One Bold';
    src: url('/fonts/fonts/PassionOne-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Passion One Black';
    src: url('/fonts/PassionOne-Black.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

#logos {
    height: 35px;
    image-rendering: auto;
}